{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": ["error", "never"],
    "consistent-return": 0,
    "func-names": 2,
    "import/no-extraneous-dependencies": ["off"],
    "new-cap": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "no-var": "error"
  }
}
